.nosql-injection-container {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #DEAB90;
}

.nosql-injection-container.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nosql-injection-demonstration {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nosql-injection-forms {
  display: flex;
  flex-direction: column;
  margin-right: 0.3rem;
}

.nosql-injection-hacker-button-container {
  width: 100%;
  display: flex;
}

.nosql-injection-hacker {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #eb5e28;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  justify-self: flex-start;
  margin-left: 2rem;
}

.nosql-injection-hacker img {
  width: 2rem;
  height: 2rem;
  padding-top: 0.2rem;
}

.nosql-injection-result-conteiner {
  display: flex;
  align-items: center;
}

.nosql-injection-result-conteiner {
  display: flex;
  flex-direction: column;
  opacity: 0.7;
}

.nosql-injection-result-waiting, .sql-injection-result-error {
  margin-top: 2rem;
}

.nosql-injection-forms-btn {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 3rem;
  background-color: #b27e4f;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  justify-self: flex-start;
  margin-bottom: 0.3rem;
}