
.buttons-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hacker-button-container, .script-button-container {
  display: flex;
}

.hacker, .script {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #eb5e28;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  justify-self: flex-start;
  margin-left: 2rem;
}

.hacker img {
  width: 2rem;
  height: 2rem;
  padding-top: 0.2rem;
}

.script img {
  width: 2rem;
  height: 2rem;
  padding-top: 0.5rem;
}