.hacker-container {
  position: relative;
  left: -70rem;
  transition: left 4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hacker-container.active {
  left: -2rem;
  transition: left 2s;
  justify-content: center;
}

.hacker-container.os {
  position: relative;
  left: 100rem;
  transition: left 4s;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hacker-container.active.os {
  left: 2rem;
  transition: left 2s;
  justify-content: center;
}

.hacker-container.os input{
  height: 2rem;
  min-width: 11rem;
  padding-right: 0.5rem;
}