.nosql-injection-form-container {
  width: 70%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nosql-injection-form-container.good {
  background-color: #b3895d;
  width: 15rem
}

.nosql-injection-form-container.bad {
  background-color: #734f38;
  width: 15rem;
  margin-bottom: 0.3rem;
}

.nosql-injection-form-container.signup {
  background-color: #553725;
  /* margin-left: 0.3rem; */
  /* margin-right: 0.3rem; */
  width: 15rem;
  height: 100%;
}
.nosql-injection-input {
  margin-right: 1rem;
}

.nosql-injection-btn {
  height: 2.4rem;
  min-width: 5rem;
}

.nosql-injection-form-description {
  height: 2rem;
  width: 100%;
  padding-top: 2rem;
  margin-right: 1rem;
  text-align: left;
  margin-left: 3rem;
}

.nosql-injection-result-conteiner {
  width: 20%;
  height: 100%;
  background-color: #482919;
  color: white;
}

.nosql-injection-input-username {
  /* margin-top: 2rem; */
}

.nosql-injection-btn {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}