.demo-container {
  background-color: #bc6c25;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.demo-container.active {
  display: flex;
}