.introduction-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.introduction-content-container.active {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}


.introduction-content-injection, .introduction-content-preventing {
  width: 40%;
  margin: 0.5rem;
  margin-top: 4rem;
}

.introduction-content-img {
  align-self: center;
  width: 40%;
}

.introduction-content-img img{
  width: 100%;
  height: 20rem;
}