.os-injection-container {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #D69F7E;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.os-injection-container.active {
  display: flex;
}

.os-injection-form {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 2rem;
  justify-content: center;
}

.os-injection-input {
  width: 15rem;
  margin-left: 1rem;
  margin-right: 0.2rem;
}

.os-injection-btn {
  width: 5rem;
}

.os-injection-files {
  width: calc(100% - 2px);
  height: 100%;
  border: 1px solid black;
  background-color: #774936;
  color: white;
}

.os-injection-container-demonstration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40rem;
}

.os-injection-form-container {
  width: 50%;
  justify-self: end;
  align-self: flex-start;
  height: 100%;
  flex-direction: column;
}

.os-injection-forms-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.os-injection-forms-btn {
  width: calc(100% - 0.3rem);
  background-color: #b27e4f;
  height: 2rem;
  padding-top: 0.5rem;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}