.os-injection-container {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #D69F7E;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.os-injection-container.active {
  display: flex;
}

.os-injection-form {
  display: flex;
  width: 20rem;
  margin-bottom: 1rem;
}

.os-injection-input {
  width: 15rem;
  margin-right: 0.2rem;
}

.os-injection-btn {
  width: 5rem;
}

.os-injection-files {
  min-width: 20rem;
  height: 30rem;
  border: 1px solid black;
  background-color: #774936;
  color: white;
}

.os-injection-hacker-button-container {
  width: 100%;
  display: flex;
}

.os-injection-container-hacker-button-container {

}

.os-injection-container-demonstration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.os-injection-container-hacker-button-container {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #eb5e28;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  justify-self: flex-start;
  margin-left: 2rem;
}

.os-injection-container-hacker-button-container img {
  width: 2rem;
  height: 2rem;
  padding-top: 0.2rem;
}